<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--::::Pie de Pagina::::::-->
        <footer class="pie-pagina">
            <div class="grupo-1">
                <!-- El logo de lado izquierdo que redirige a la pagina principal-->
                <div class="box">
                    <figure>
                        <a href="#">
                            <img src="../../../assets/Footer.jpeg" alt="Logo de SLee Dw">
                        </a>
                    </figure>
                </div>
                <!-- La sección que habla un poco sobre nuestra compañia-->
                <div class="box">
                    <h2>SOBRE NOSOTROS</h2>
                    <p>Somos una compañia que surgio de la nada y desea rediseñar y remodelar el mundo pero primero nos enfocaremos en hacer que luzcan la mejor ropa y calzado</p>
                </div>
                <!--La sección sobre nuestras redes sociales de contacto, los links solo son muestras del funcionamieno-->
                <div class="box">
                    <h2>SIGUENOS</h2>
                    <div class="red-social">
                        <a href="#" class="bi bi-facebook"></a>
                        <a href="https://www.instagram.com/reel/CmzgJ4ihbMe/?utm_source=ig_web_button_share_sheet&igshid=MzRlODBiNWFlZA==" class="bi bi-instagram"></a>
                        <a href="https://twitter.com/LordeVitucci/status/1715538002091340154?t=Q5yKg265IzIyrdDbdLVJhA&s=33" class="bi bi-twitter-x"></a>
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="bi bi-youtube"></a>
                    </div>
                </div>
            </div>
            <!--El copy right de la página-->
            <div class="grupo-2">
                <small>&copy; 2023 <b>AMJ Shop</b> - Todos los Derechos Reservados.</small>
            </div>
        </footer> <!--Fin del pie de página-->
    </body>
</html>