<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="container">
    <div class="card product">
      <img src="assets/p1.jpg" class="card-img-top" alt="Producto 3">
      <div class="card-body">
        <h5 class="card-title">Nombre del Producto 3</h5>
        <p class="card-text">Precio: $120.00</p>
        <button class="btn btn-primary">Agregar al carrito</button>
      </div>
    </div>

    <div class="card product">
      <img src="assets/p2.jpg" class="card-img-top" alt="Producto 3">
      <div class="card-body">
        <h5 class="card-title">Nombre del Producto 1</h5>
        <p class="card-text">Precio: $120.00</p>
        <button class="btn btn-primary">Agregar al carrito</button>
      </div>
    </div>

    <div class="card product">
      <img src="assets/p3.jpg" class="card-img-top" alt="Producto 3">
      <div class="card-body">
        <h5 class="card-title">Nombre del Producto 2</h5>
        <p class="card-text">Precio: $120.00</p>
        <button class="btn btn-primary">Agregar al carrito</button>
      </div>
    </div>

    <div class="card product">
      <img src="../../../assets/camisa.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Camisa de botones Azul</h5>
        <p class="card-text">Precio de la camisa</p>
        <button href="#" class="btn btn-primary">Agregar al carrito</button>
      </div>
    </div>
  </div>

  
  
</body>
</html>