
nav {
  background-color: #333;
  
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin-right: 20px;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-top: 20px;
  padding-bottom: 20px;
}

.product {
  width: 18rem;
  margin-right: 20px;
}
.cart::after {
  display: none !important;
}

.dropdown-menu{
  top: 100%;
  left: unset !important;
  right: 0px !important;
  margin-top: var(--bs-dropdown-spacer);
}
.CartContainer {
  width: 300px;
  padding: 5px;
}