<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav class=" ">
    <ul>
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/Sobre nosotros">Sobre nosotros</a></li>
      <li><a routerLink="/login">Iniciar Sesión</a></li>
      <li><a routerLink="/pedidos">Ver Pedidos</a></li>
      <li><a routerLink="/carrito">Ver Carrito</a></li>


      <button class="btn btn-outline-secondary  " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"><i class="bi bi-list"></i></button>

      <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkLabel">carrito</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body">
          <p> Aqui va lo demás</p>
        </div>
      </div>
      
    </ul>
   

    





  </nav>
  
  <!-- Contenido de la página principal -->
  <div class="container">
    
    <div class="card product" style="width: 18rem;">
      <img src="assets/p1.jpg" class="card-img-top" alt="Producto 3" />
      <div class="card-body">
        <h5 class="card-title">Nombre del Producto 3</h5>
        <p class="card-text">Precio: $120.00</p>
        <button class="btn btn-primary">Agregar al carrito</button>
      </div>
    </div>
    
    <div class="card product" style="width: 18rem;">
      <img src="assets/p2.jpg" class="card-img-top" alt="Producto 3" />
      <div class="card-body">
        <h5 class="card-title">Nombre del Producto 1</h5>
        <p class="card-text">Precio: $120.00</p>
        <button class="btn btn-primary">Agregar al carrito</button>
      </div>
    </div>
 
    <div class="card product" style="width: 18rem;">
      <img src="assets/p3.jpg" class="card-img-top" alt="Producto 3" />
      <div class="card-body">
        <h5 class="card-title">Nombre del Producto 2</h5>
        <p class="card-text">Precio: $120.00</p>
        <button class="btn btn-primary">Agregar al carrito</button>
      </div>
    </div>

    <div class="card product" style="width: 18rem;">
      <img src="../../../assets/camisa.png" class="card-img-top " alt="...">
      <div class="card-body">
        <h5 class="card-title">Camisa de botones Azul</h5>
        <p class="card-text">Precio de la camisa</p>
        <button href="#" class="btn btn-primary">Agregar al carrito</button>
      </div>
    </div>
  </div>
  
  
</body>
</html>