<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav class=" ">
    <ul>
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/Sobre nosotros">Sobre nosotros</a></li>
      <li><a routerLink="/login">Iniciar Sesión</a></li>
      <li><a routerLink="/pedidos">Ver Pedidos</a></li>
      <li><a routerLink="/carrito">Ver Carrito</a></li>
      
    </ul>
  </nav>
  
  <!-- Contenido de la página principal -->
  <div class="container">
    
    <div class="card product" style="width: 18rem;">
      <img src="assets/p1.jpg" class="card-img-top" alt="Producto 3" />
      <div class="card-body">
        <h5 class="card-title">Nombre del Producto 3</h5>
        <p class="card-text">Precio: $120.00</p>
        <button class="btn btn-primary">Agregar al carrito</button>
      </div>
    </div>
    
    <div class="card product" style="width: 18rem;">
      <img src="assets/p2.jpg" class="card-img-top" alt="Producto 3" />
      <div class="card-body">
        <h5 class="card-title">Nombre del Producto 1</h5>
        <p class="card-text">Precio: $120.00</p>
        <button class="btn btn-primary">Agregar al carrito</button>
      </div>
    </div>
 
    <div class="card product" style="width: 18rem;">
      <img src="assets/p3.jpg" class="card-img-top" alt="Producto 3" />
      <div class="card-body">
        <h5 class="card-title">Nombre del Producto 2</h5>
        <p class="card-text">Precio: $120.00</p>
        <button class="btn btn-primary">Agregar al carrito</button>
      </div>
    </div>

    <div class="card product" style="width: 18rem;">
      <img src="../../../assets/camisa.png" class="card-img-top " alt="...">
      <div class="card-body">
        <h5 class="card-title">Camisa de botones Azul</h5>
        <p class="card-text">Precio de la camisa</p>
        <button href="#" class="btn btn-primary">Agregar al carrito</button>
      </div>
    </div>
  </div>
  
  
</body>
</html>