<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg"> 
            <!-- Logo con url-->
            <div class="container-fluid">
                <div class="navbar-brand collapse navbar-collapse" id="navbarSupportedContent">
                    <a class="navbar-brand fs-2 fw-bold text-white" href="#">
                        <img src="assets/Logo1.jpeg" alt="Logo AMJ Shop" style="width: 60px; height: 60px;">
                        <span>AMJ SHOP</span>
                    </a>
                </div>
                <!-- Botones de usuario -->
                <div class="d-flex align-items-center">
                    <a routerLink="/profile" class="btn btn-outline-light me-3">
                        <i class="bi bi-person me-1"></i> Mi Perfil
                    </a>
                    <a routerLink="/login" class="btn btn-outline-light me-3">
                        <i class="bi bi-box-arrow-in-right me-1"></i> Iniciar Sesión
                    </a>
                    <a routerLink="/signup" class="btn btn-outline-light me-3">
                        <i class="bi bi-person-plus me-1"></i> Registrarse
                    </a>
                    <!-- Agrega lógica para mostrar el botón de "Cerrar Sesión" si el usuario está autenticado -->
                    <!-- <a routerLink="/logout" class="btn btn-outline-dark">
                        <i class="bi bi-box-arrow-left me-1"></i> Cerrar Sesión
                    </a> -->
                </div>
            </div>
        </nav>
    </header>
    
    
    <router-outlet></router-outlet>

</body>
</html>
