<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <section>
        <!-- La caja de captura de datos-->
        <div class="form-box">
            <div class="form-value">
                <!-- titulo del Form-->
                <form action="">
                    <h2>Sign Up</h2>
                    <!-- Representa un campo de entrada para el formulario en este caso el nombre del usuario-->
                    <div class="inputbox">
                        <i class="bi bi-person-fill"></i>
                        <!-- <input type="text" required> -->
                        <input type="text" id="nombre" [(ngModel)]="nombre" name="nombre" required aria-label="Nombre">
                        <label for="">Nombre</label>
                        
                    </div>
                    <!-- Representa un campo de entrada para el formulario en este caso el correo electronico-->
                    <div class="inputbox">
                        <i class="bi bi-envelope-fill"></i>
                        <input type="email" required>
                        <label for="">Email</label>
                    </div>
                    <!-- Representa un campo de entrada para el formulario en este caso la contraseña-->
                    <div class="inputbox">
                        <i class="bi bi-lock-fill"></i>
                        <input type="password" required>
                        <label for="">Password</label>
                    </div>
                    <!-- Boton de registrarse -->
                    <button>Registrarme </button>
                    
                </form>
            </div>
        </div>
    </section>
</body>
</html>