
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <div class="box">
        <div class="container">
            <div class="top-header">
                <span> Login </span>
                <header> Iniciar Sesion </header>
            </div>
            <div class="input-field">
                <input type="text" class="input" placeholder="Usuario" required>
            </div>
            <div class="input-field">
                <input type="password" class="input" placeholder="Contraseña" required>
            </div>
            <div class="input-field">
                <input type="submit" class="submit btn btn-primary" value="Inicio">
                
            </div>
            <div class="bottom">
                <div class="left">
                    <input type="checkbox" id="check">
                    <label for="check">Recordarme</label>
                </div>
                <div class="right">
                    <label>
                        <a href="#">¿Olvidaste tu contraseña? </a>
                   </label>
                </div>
            </div>
        </div>
    </div>  
</body>
</html>